@model MyFeeds.Models.Feed

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Feed</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.Label(Model.Id.ToString())
    @Html.Label(Model.Source.Origin.ToString())
    @Html.Label(Model.ContentTypeId.ToString())
    @Html.Label(Model.ContentId.ToString())

    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
